src/*.exe
src/peacecoin
src/peacecoind
src/test_peacecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.peacecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
peacecoin-qt
Peacecoin-Qt.app

# Unit-tests
Makefile.test
peacecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
